body {
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

#header__title {
  font-family: "Roboto Slab", serif;
}

.line-through {
  text-decoration: line-through;
}

#section__checklist {
  word-wrap: break-word;
  word-break: break-all;

  &:empty {
    display: none;
  }
}

.checklistItem {
  grid-template-columns: auto 15% 15%;

  &:nth-child(2n + 1) {
    background-color: rgb(252, 211, 77);
  }
  &:nth-child(2n) {
    background-color: rgb(232, 191, 77);
  }
  &:nth-child(2n + 1).done {
    background-color: rgba(252, 211, 77, 0.75);
  }
  &:nth-child(2n).done {
    background-color: rgba(232, 191, 77, 0.75);
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(251, 191, 36);
  }
  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media only screen and (min-width: 640px) {
  #section__checklist {
    width: 85%;
  }

  .grid-item {
    grid-template-columns: auto 8% 8%;
  }
}

@media only screen and (min-width: 1024px) {
  #section__checklist {
    width: 75%;
  }

  .grid-item {
    grid-template-columns: auto 7.5% 7.5%;
  }
}

@media only screen and (min-width: 1536px) {
  #section__checklist {
    width: 50%;
  }

  .grid-item {
    grid-template-columns: auto 4.5% 4.5%;
  }
}

@media only screen and (min-width: 2560px) {
  #section__checklist {
    width: 33.33%;
  }

  .grid-item {
    grid-template-columns: auto 3.66% 3.66%;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
